.flash {
    animation: flash 900ms ease infinite alternate;
  }
@keyframes flash {
      from { opacity: 1; }	
      to { opacity: 0; }
}
body,p,h1,h2,h3,h4,h5,h6,a,label,span,
input,button{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}
ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
i{
    font-style: normal;
}
.pink{
    background-color: #ffc0cb69;
}
.pink .img-div{
    background-color: transparent;
    border: 2px solid;
    border-color: pink;
}
.green{
    background-color: #00800052;
}
.green .img-div{
    background-color: transparent;
    border: 2px solid;
    border-color: green;
}
.yellow{
    background-color: #ffff0047;
}
.yellow .img-div{
    background-color: transparent;
    border: 2px solid;
    border-color: yellow;
}
.orange{
    background-color: #ffa50047;
}
.orange .img-div{
    background-color: transparent;
    border: 2px solid;
    border-color: orange;
}
.purple{
    background-color: #472aa54a;
}
.purple .img-div{
    background-color: transparent;
    border: 2px solid;
    border-color: purple;
}
.gray{
    background-color: #8080803b;
}
.gray .img-div{
    background-color: transparent;
    border: 2px solid;
    border-color: gray;
}
.timeline-parent{
    position: relative;
    width: 100%;
    /*overflow-x: scroll;*/
    height: 100vh;
    width: 200%;
}
.timeline-functionality{
    position: absolute;
    top: 50%;
    left: 40px;
    right: 40px;
    width: 200%;
}
.timeline-parent .timeline-divider{
    background-color: #ddd;
    display: block;
    height: 4px;
    left: 0px;
    position: absolute;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0px;
    z-index: 1;
    top: 50%;
    border-radius: 8px;
    cursor: pointer;
    width: 200%;
}
.event-add{
    z-index: 999999 !important;
}
.add-event-indicator{
    position: relative;
    z-index: 999;
    display: inline-block;
    cursor: pointer;
    transition: all .5s linear;
}
.event-add{
    position: absolute;
    z-index: 999;
    display: inline-block;
    cursor: pointer;
    transition: all .5s linear;
    background-color: #fff;
    border-radius: 100%;
}
.add-event-indicator::before,
.sub-child-event-add:before{
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    background: #d3d3d391;
    left: -5px;
    border-radius: 100%;
    z-index: -1;
    top: 7px;
}
.sub-child-event-add{
    position: relative;
}
.event-add .main-event:before,
.new-child:before{
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    background: #d3d3d391;
    left: -10px;
    border-radius: 100%;
    z-index: -1;
    top: 20px;
}
.add-event-indicator::after,
.sub-child-event-add::after{
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    background: #d3d3d391;
    right: -5px;
    border-radius: 100%;
    z-index: -1;
    bottom: 7px;
}
.event-add .main-event:after,
.new-child:after{
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    background: #d3d3d391;
    right: -10px;
    border-radius: 100%;
    z-index: -1;
    bottom: 20px;
}
.main-event.sub-timeline-event:after{
    top: 20px;
}
.add-event-indicator span,
.sub-child-event-add span{
    border: 4px solid #fff;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #d3d3d3;
    border-radius: 100%;
    font-size: 35px;
}
.event-add span{
    border: 4px solid #fff;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    font-size: 35px;
    opacity: .8;
}
.event-add span img{
    width: 25px;
    filter: brightness(0) invert(1);
}
.add-event-indicator span i{
    position: relative;
    top: -2px;
    font-style: normal;
}
.event-list,
.event-list-subtime-line{
    position: absolute;
    width: 300px;
    bottom: 60px;
    left: 0px;
    transition: all .5s linear;
    display: none;
}
.event-list .event-info,
.event-list-subtime-line .event-info{
    display: flex;
    align-items: center;
}
.event-list .event-info .event-name,
.event-list-subtime-line .event-info .event-name{
    margin-left: 20px;
}
.event-list .event-info .img-div,
.event-list-subtime-line .event-info .img-div{
    width: 25px;
    height: 25px;
    display: flex;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
}
.event-list .event-info .img-div img,
.event-list-subtime-line .event-info .img-div img{
    width: 15px;
}
.event-list li,
.event-list-subtime-line li{
    padding: 5px 15px 5px 5px;
    border-radius: 70px;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 10px;
    width: 260px;
}
.event-add.purple:after,
.event-add.purple:before{
    background-color: #8000803b;
}
.event-add.green:after,
.event-add.green:before{
    background-color: #0080003b;
}
.horizontal-right-child-line{
    display: flex;
    position: absolute;
    left: -96px;
}
.horizontal-left-child-line{
    display: flex;
    position: absolute;
    right: -96px;
}
.event-add .add-more-event .doted-line span,
.horizontal-right-child-line span,
.horizontal-left-child-line span{
    width: 15px;
    height: 15px;
    background: #9333943d;
    margin: auto;
    position: relative;
    bottom: 4px;
}
.main-event{
    background: #fff;
    border-radius: 100%;
    display: inline-block;
}
.functionality-div .event-functionality,
.functionality-div{
    width: 15px !important;
    height: 15px !important;
    margin: auto;
    position: absolute;
    left: 27%;
    bottom: -6px;
    z-index: -1;
    border: 2px solid #000;
}
.add-more-event .event-add{
    position: relative;
}
.horizontal-line-right{
    display: none;
    position: absolute;
    left: 25px;
    top: 80px;
}
.horizontal-line-left{
    display: none;
    position: absolute;
    right: 25px;
    top: 80px;
}
.second-sub-event{
    position: absolute;
    right: -77px;
    transform: rotateZ(320deg);
    top: 41px;
}
.new-child{
    border-radius: 100%;
    position: relative;
}
.functionality-div .edit-delete-event{
    position: absolute;
    width: 200px;
    top: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    border-radius: 8px;
    padding: 5px;
    display: none;
}
.functionality-div .edit-delete-event ul li{
    font-size: 14px;
    cursor: pointer;
    margin: 5px;
}
.functionality-div .edit-delete-event ul li span{
    width: auto;
    height: auto;
    display: inline-block;
    font-size: 12px;
    position: absolute;
    right: 8px;
}
.functionality-div .edit-delete-event .edit-field{
    display: none;
}
.functionality-div .edit-delete-event .edit-field input,
.sub-timeline-event .main-parent-edit-field input{
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #00000047;
    font-size: 12px;
    margin-top: 20px;
}
.sub-timeline-event .main-parent-edit-field input{
    margin-top: 0px !important;
}
.functionality-div .edit-delete-event .edit-field button,
.sub-timeline-event .main-parent-edit-field button{
    float: right;
    margin: 10px 0px;
    font-size: 12px;
    padding: 5px 10px;
    border: none;
    color: #FFf;
}
.modal{
    background: #00000030;
    z-index: 999999999999;
}
.sub-timeline-event .main-parent{
    position: relative;
}
.sub-timeline-event .main-parent .functionality-div{
    display: inline-block;
    position: absolute;
    left: 17px;
    bottom: -4px;
    border: 2px solid #fff;
    opacity: .8;
    border-radius: 100%;
    z-index: -1;
}
.sub-timeline-event .main-parent .functionality-div .event-functionality{
    width: 15px;
    height: 15px;
    display: inline-block;
    border: 2px solid rgb(128, 0, 128);
    border-radius: 100%;
}
.sub-timeline-event .add-more-event{
    position: absolute;
    top: 80px !important;
    z-index: -2 !important;
}
.edit-sublime-modal .modal-body{
    display: flex;
    justify-content: space-between;
}
.edit-sublime-modal .modal-body button{
    border: none;
    padding: 10px 30px;
    border-radius: 4px;
}
.sub-timeline-event .main-parent-edit-field{
    position: absolute;
    width: 200px;
    top: -94px;
    left: -60px;
    box-shadow: 0px 10px 15px -3px rgb(0 0 0 / 10%);
    border-radius: 8px;
    padding: 5px;
    display: none;
}

header{
    background: #5997DD;
    width: auto;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.container{
    margin-top:30px;
}

.timelineheader{
    position: fixed;
    width: 88% !important;
}